/* General styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

/* Container styles */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
header {
    background: #333;
    color: #333;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header nav ul {
    padding: 0;
    list-style: none;
    margin: 10px 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.1em;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Section styles */
section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2em;
    color: #333;
}

#skills ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

#skills ul li {
    display: inline-block;
    margin: 10px;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
}

.education-item, .experience-item {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education-item h3, .experience-item h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

/* Contact styles */
#contact ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

#contact ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

#contact ul li a {
    color: #333;
    text-decoration: none;
}

#contact ul li a:hover {
    text-decoration: underline;
}

/* Footer styles */
footer {
    background: #333;
    color: #333;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 1em;
}
